@import '@/globals.scss';

.button {
  position: relative;

  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-focus-ring-color: transparent;
}

.switch_body {
  width: 35px;
  height: 14px;

  transition: all 200ms;

  background-color: $--gray-300;
  border-radius: 7px;
}

.switch_body.on {
  background-color: $--Primary-blue;
}

.switch_circle {
  width: 18px;
  height: 18px;

  border-radius: 50%;
  border: 1px solid $--gray-200;
  background-color: $--White;

  transition: all 200ms;

  position: absolute;

  top: -2px;
  left: -2px;
}

.switch_circle.on {
  transform: translate(21px);
}