@import '@/globals.scss';

.button_box {
  display: flex;
  justify-content: space-between;
  margin: 28px 0;

  button {
    width: 159px;
    height: 152px;
    background-color: $--gray-100;
    border: 1px solid $--gray-200;
    border-radius: 10px;
    text-align: left;
    padding: 15px;
    display: flex;
    align-items: flex-end;

    p {
      @include Title3-M;

      span {
        @include Title2-M;
      }
    }
  }
}
