@import '@/globals.scss';

.modal_background {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;

  .modal {
    width: 95%;
    height: 200px;
    background-color: $--White;
    border-radius: 8px;
    margin: auto;
    padding: 22px 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;

    .first_modal {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      .first_modal_title {
        @include Title3-SB;
      }

      .first_modal_content {
        @include Title4-M;

        text-align: center;
        color: $--gray-600;
      }
    }

    div {
      display: flex;
      width: inherit;
      justify-content: space-between;

      button {
        @include Title3-SB;
        width: 48%;
        height: 52px;
        border-radius: 13px;
        border: 1px solid $--gray-200;
        background-color: $--White;
        color: $--gray-700;

        &:last-child {
          background-color: $--Cancel;
          color: $--White;
          border: none;
        }
      }
    }
  }
}
