@import '@/globals.scss';

.qr {
  background-color: white;
  padding: 26px 16px;
  h2 {
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 2px;
  }

  .desc {
    color: $--gray-600;
    font-size: 14px;
  }

  .instructor {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 169px;
    height: 40px;
    margin: 24px auto 0;
    background-color: $--gray-50;
    border: 1px solid $--gray-200;
    border-radius: 10px;
  }

  .qr_image {
    width: 114px;
    height: 114px;

    display: block;
    margin: 12px auto 8px;
  }

  .save_share {
    display: flex;
    justify-content: center;
    gap: 16px;
    .col {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $--gray-700;
      font-size: 12px;

      .circle {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 32px;
        height: 32px;
        border: 1px solid $--gray-200;
        border-radius: 100%;
      }
    }
  }
}

.invite {
  padding: 23px 16px 22px;
  background-color: $--gray-50;

  h3 {
    margin-bottom: 10px;
  }
  .student {
    display: flex;
    gap: 10px;
  }
  .box {
    background-color: white;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .count {
    padding: 14px 13px;
    width: 64px;
    height: 64px;
    flex-direction: column;

    div:nth-child(1) {
      font-size: 10px;
      color: $--gray-700;
    }
  }
  .profile {
    padding: 16px 13px;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    &_no {
      color: $--gray-600;
    }
  }
}

.class {
  background-color: $--gray-50;
  padding: 0 16px 50px;

  h3 {
    margin-bottom: 27px;
  }

  .classInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .require {
      display: flex;
      font-size: 14px;
      align-items: center;

      span {
        color: $--Primary-blue;
        @include Body5-R;
        margin-left: 2px;
      }
    }

    &_time {
      display: flex;
      justify-content: space-between;
      align-items: center;

      div {
        width: 135px;
        height: 51px;
        border-style: none;
      }
    }

    .location_input,
    .color_input {
      position: relative;
      width: inherit;
      input {
        padding-left: 50px;
      }
      .pick_color {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
        width: 30px;
        height: 30px;
        background-color: red;
        border-radius: 6px;
      }
      .input#location {
        padding-left: 45px;
      }
      .locatin_icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
      }
    }
    .input {
      width: 100%;
      background-color: white;

      border: 1px solid transparent;
      border-radius: 3px;
      height: 51px;
      padding: 14px;

      &.gray {
        background-color: $--gray-50;
      }
    }
  }

  .delete {
    margin: 23px auto 110px;

    width: 103px;
    height: 79px;
    background-color: white;
    border-radius: 13px;
    color: $--Cancel;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
  }

  .feedback_btn {
    position: fixed;
    bottom: 20px;
    width: calc(100% - 32px);

    height: 52px;
    border-radius: 13px;

    background-color: $--Primary-blue;
    color: white;
  }
}
