@import '@/globals.scss';

.customer_info {
  .circle {
    width: 68px;
    height: 68px;
    border-radius: 68px;
    background-color: $--gray-300;
    margin: 0 auto;
  }

  .name {
    @include Title2-SB;
    display: block;
    text-align: center;
    margin: 12px 0 22px 0;
  }

  .user_info {
    @include Body2-R;
    display: flex;
    align-items: center;

    .icon {
      width: 20px;
      margin-right: 10px;
    }
  }
}

.bar {
  width: 100vw;
  height: 8px;
  background-color: $--gray-50;
  margin: 25px 0;
}