@import '@/globals.scss';

.img_list {
  display: flex;

  img:first-child,
  img:last-child {
    margin: 0 !important;
  }

  .profile_img {
    border-radius: 50%;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.row {
  display: flex;
  align-items: center;
}

.count {
  @include Title5-SB;
}
