@import '@/globals.scss';

.account_header {
  @include Title2-SB;

  color: $--Black;

  width: 100vw;
  margin-top: 5px;
  display: flex;

  .content {
    @include Title3-M;

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: inherit;
    margin-bottom: 34px;
    padding: 11px 16px;
    border-bottom: 1px solid $--gray-100;

    .back_link {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-right: 8px;

      svg path {
        fill: $--Black;
      }
    }

    .edit_link {
      @include Body1-R;

      line-height: 1em;
      color: $--Primary-blue;
      border-bottom: $--Primary-blue 1px solid;
      :hover {
        cursor: pointer;
      }
    }
  }
}

.account_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .account_image_wrapper {
    display: flex;
    width: 60px;
    height: 60px;

    .account_img {
      border-radius: 50%;
      background-color: $--gray-100;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      overflow: hidden;
    }
  }
}
