@import '@/globals.scss';

.account_profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 16px;
  width: 100%;
  border-bottom: 8px solid $--gray-50;

  .account_image_wrapper {
    @include Heading2;

    display: flex;
    align-items: center;
    gap: 12px;

    .account_img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: $--gray-100;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      overflow: hidden;
    }
  }

  .account_change_profile {
    @include Body3-R;

    color: $--gray-700;
    border: 1px solid $--gray-200;
    border-radius: 8px;
    padding: 6px 10px;
  }
}

.account_setting {
  @include Title4-M;

  width: 100%;
  padding: 18px 16px 11px 16px;
  display: flex;
  flex-direction: column;

  .account_setting_title {
    display: flex;
    gap: 2px;
    align-items: center;
    margin-bottom: 10px;
  }

  .app_version {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    margin-bottom: 10px;

    span {
      @include Body3-R;
      color: $--gray-600;
    }
  }

  .app_setting {
    display: flex;
    flex-direction: column;

    .app_setting_menu {
      display: flex;
      justify-content: space-between;
      height: 54px;
      align-items: center;
    }
  }

  .account_action {
    display: flex;
    flex-direction: column;
    border-top: 1px solid $--gray-200;

    .account_action_menu {
      display: flex;
      justify-content: space-between;
      height: 54px;
      align-items: center;

      .deletion {
        color: $--Cancel;
      }
    }
  }
}
