@import '@/globals.scss';

.deletion {
  display: flex;
  gap: 4px;
  flex-direction: column;
  align-items: start;
  width: 100%;
  height: 100%;
  padding: 22px 16px;

  .deletion_header {
    display: flex;
    flex-direction: column;
    margin-bottom: 22px;
    gap: 4px;

    .title {
      @include Title2-SB;
    }

    .content {
      @include Body2-R;

      color: $--gray-600;
    }
  }

  .deletion_section {
    width: inherit;
    height: inherit;

    form {
      width: inherit;
      height: inherit;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .deletion_confirm {
      button {
        color: $--White !important;
        background-color: $--Cancel !important;
      }
    }
  }
}

.radio_group {
  @include Body1-R;

  display: flex;
  border: none;
  flex-direction: column;
  gap: 24px;

  label {
    display: flex;
    align-items: center;
    gap: 8px;

    input {
      width: 20px;
      height: 20px;
    }
  }
}
