@import '@/globals.scss';

.container {
  padding: 16px 16px 0;
  border-bottom: 2px solid $--gray-200;

  .today_info {
    margin-bottom: 6px;

    & > h2 {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .today {
      border-radius: 4px;
    }

    .today_schedule {
      border-radius: 6px;
    }
  }

  .schedule_tab {
    width: 100%;
    padding: 0 16px;
    display: flex;
    gap: 8px;

    .schedule_link {
      flex-grow: 1;
      border-radius: 4px;
    }
  }
}
