@import '@/app/globals.scss';

.header {
  display: flex;
  gap: 8px;

  height: 48px;

  align-items: center;
  padding: 13px 16px;
  border-bottom: 1px solid $--gray-100;

  @include Title3-M;

  .edit {
    flex-grow: 1;
    text-align: end;
    color: $--Primary-blue;
    text-decoration: underline;
  }
}
