@import '@/app/globals.scss';

label {
  @include Title5-M;
  display: block;
  color: var(--gray-700);
  margin-bottom: 6px;

  span {
    @include Body5-R;
    color: var(--Primary-blue);
    margin-left: 2px;
  }
}

.input_box {
  position: relative;

  input {
    padding: 15px 16px;
    width: 100%;
    background-color: rgba($color: var(--White), $alpha: 0);
    position: relative;
    border: 1.5px solid var(--gray-100);
    padding-right: 50px;
    border-radius: 6px;

    &::placeholder {
      color: var(--gray-500);
    }

    &:focus {
      border: 1.5px solid var(--Primary-blue);
      outline: none;
    }

    .error {
      border-color: var(--Cancel);
    }
  }

  span {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translate(-50%, -50%);
  }
}

.filled {
  padding-right: 16px;
}
