@import '@/globals.scss';

.feedback_write {
  .feedback_date {
    @include Title5-M;
    color: $--gray-600;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 16px;

    .icon {
      font-size: 18px;
      margin-right: 4px;
    }
  }

  .title {
    @include Title3-M;
    span {
      @include Body5-R;
      color: $--Primary-blue;
    }
  }

  .detail_title {
    margin-bottom: 12px;
    margin-left: 16px;
    color: $--gray-600;

    p {
      @include Title3-M;
    }
  }

  .detail_content {
    height: 21px;
    margin-bottom: 22px;
    margin-top: 15.5px;
    margin-left: 16px;
    padding: 15px 16px 15px 0px;
    border: 15px solid $--gray-50;
    border-radius: 6px;
    color: $--gray-600;
    background-color: $--gray-50;

    display: flex;
    align-items: center;
    position: relative;

    .detail_icon {
      margin-right: 12px;
    }

    p {
      @include Title5-M;
    }

    .arrow_icon {
      position: absolute;
      right: 0;
    }
  }
  /* Hide the ugly default input */
  #chooseFile {
    visibility: hidden;
  }

  .select_customer {
    .flex {
      width: 100%;
      display: flex;
      gap: 10px;
      overflow: hidden;
      flex-wrap: nowrap;
      overflow-x: auto;
      margin-top: 6px;

      padding: 17px 0;

      .add_btn {
        background-color: $--gray-50;
        @include Body5-R;
        img {
          display: block;
          margin: 0 auto 6px;
        }
      }
    }

    .box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;

      width: 83px;
      height: 125px;
      background-color: white;
      border-radius: 10px;
      border: 1px solid $--gray-200;
      flex-shrink: 0;

      &_delete {
        position: absolute;
        top: -10px;
        right: -10px;
        z-index: 50;
      }

      .profile {
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        img {
          width: 46px;
          height: 46px;

          margin: 0 auto;
        }

        .name,
        .class {
          @include Title5-SB;
        }

        .class {
          background-color: $--Chips;
          padding: 2px 10px;
          border-radius: 11px;
          color: $--Primary-blue;
        }
      }
    }
  }
}

.divider {
  width: 100%;
  height: 8px;
  background-color: $--gray-50;
}

.feedback_content {
  padding: 20px 16px 80px;

  .wrap {
    margin: 6px 0 22px;
    .title {
      margin-bottom: 6px;
    }
  }

  .sub_title.file {
    margin-bottom: 6px;
  }

  .link {
    display: flex;
    gap: 8px;

    margin: 6px 0 22px;

    input {
      flex: 1;
      padding: 15px 16px;
      background-color: $--gray-50;
      border: none;
    }
    button {
      width: 48px;
      height: 51px;
      border: 1px solid $--gray-200;
      border-radius: 6px;
    }
  }

  .feedback_area {
    width: 100%;
    height: 183px;

    margin: 6px 0 49px;
    padding: 18px 16px;

    background-color: $--gray-50;
    border: none;

    &::placeholder {
      text-align: center;
      padding: 65px 0;
    }
  }
}

.submit_btn {
  position: fixed;
  bottom: 0;

  width: 100%;
  background-color: $--Primary-blue;
  color: $--White;
  padding: 14px 0 34px;
}

.submit_btn:disabled {
  background-color: $--gray-300;
}

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal_content {
  width: 328px;
  height: 158px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;

  p {
    @include Title3-SB;
    margin-bottom: 8px;
  }

  span {
    @include Body4-R;
    margin-bottom: 20px;
  }
}

.modal_button_box {
  width: 296px;
  height: 52px;
  gap: 10px;
  display: flex;
  flex-direction: row;

  button {
    width: 143px;
    height: 52px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  button:first-of-type {
    background-color: #ccc;
  }

  button:last-of-type {
    background-color: #007bff;
    color: white;
  }
}
