@font-face {
  font-family: 'SUIT Variable';
  font-weight: 100 900;
  src: url('../../public/SUIT-Variable-woff2/SUIT-Variable.woff2')
    format('woff2-variations');
}

:root {
  font-size: 16px;
  --primary-blue: #3689ff;
  --gray-700: #5c5e62;
  --gray-600: #7e8184;
  --gray-200: #ebecee;
  --gray-50: #f8f9fa;
}

body {
  font-size: 1rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'SUIT Variable';
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 참고 */

/* 
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }

  // 변수 활용 예시
  :root {
    --primary-color: #A9A9A9;
  p {
    color: var(--primary-color);
  }
  h1 {
    background-color: var(--primary-color);
  }
  div {
    border-color: var(--primary-color);
  }

*/
