@import '@/app/globals.scss';

.feedback_write {
  .title {
    @include Title3-M;
    span {
      @include Body5-R;
      color: $--Primary-blue;
    }
  }
  .sub_title {
    @include Body3-R;
    color: $--gray-600;
    margin-top: 2px;
  }

  /* Hide the ugly default input */
  #chooseFile {
    visibility: hidden;
  }

  padding: 22px 16px;

  .select_customer {
    .flex {
      width: 100%;
      display: flex;
      gap: 10px;
      overflow: hidden;
      flex-wrap: nowrap;
      overflow-x: auto;
      margin-top: 6px;

      padding: 17px 0;

      .add_btn {
        background-color: $--gray-50;
        width: 83px;
        @include Body5-R;
        img {
          display: block;
          margin: 0 auto 6px;
        }
      }
    }

    .box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;

      background-color: white;
      border-radius: 10px;
      border: 1px solid $--gray-200;
      flex-shrink: 0;

      &_delete {
        position: absolute;
        top: -10px;
        right: -10px;
        z-index: 50;
      }

      .class {
        padding: 18px 16px;
        display: flex;
        flex-direction: column;

        justify-content: center;
        // align-items: center;

        .svg {
          width: 30px;
          height: 30px;
        }
        .row {
          display: flex;
          gap: 8px;
          align-items: center;
          margin-bottom: 6px;
          .classname {
            @include Title3-SB;
          }
          .tag {
            background-color: $--Chips;
            padding: 2px 10px;
            border-radius: 11px;
            color: $--Primary-blue;
            @include Body5-R;
          }
        }

        .info {
          color: $--gray-500;
          @include Body4-R;
          text-align: left;

          &_row {
            display: flex;
            gap: 5px;
            align-items: center;
            margin-bottom: 4px;
          }
        }

        .name,
        .class {
          @include Title5-SB;
        }
      }
    }
  }

  .feedback_content {
    padding: 20px 0 49px;

    .wrap {
      margin: 6px 0 22px;
      .title {
        margin-bottom: 6px;
      }
    }
    .flex {
      width: 100%;
      display: flex;
      gap: 10px;
      overflow: hidden;
      flex-wrap: nowrap;
      overflow-x: auto;
      margin-top: 6px;

      padding-bottom: 17px;
      .box {
        width: 78px;
        height: 78px;
        background-color: $--gray-50;

        flex-shrink: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        label {
          .add {
            img {
              // margin: 0 auto;
            }
          }
        }
        input,
        #chooseFile2 {
          display: none;
        }
      }

      .added_file {
        width: 78px;
        height: 78px;
        background-color: $--gray-50;

        flex-shrink: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

    .link {
      display: flex;
      gap: 8px;

      margin: 6px 0 22px;

      input {
        flex: 1;
        padding: 15px 16px;
        background-color: $--gray-50;
        border: none;
        border-radius: 6px;
      }
      button {
        width: 48px;
        height: 51px;
        border: 1px solid $--gray-200;
        border-radius: 6px;
      }
    }

    .feedback_area {
      width: 100%;
      height: 183px;

      margin: 6px 0 49px;
      padding: 18px 16px;

      background-color: $--gray-50;
      border: none;
      border-radius: 8px;

      &::placeholder {
        text-align: center;
        padding: 65px 0;
      }
    }
  }
}

.submit_btn {
  position: fixed;
  bottom: 0;

  width: 100%;
  background-color: $--Primary-blue;
  color: $--White;
  padding: 14px 0 34px;

  text-align: center;
}
