.container {
  display: flex;
  flex-direction: column;
  width: inherit;
  height: inherit;
  margin: 0 auto;
  /* border: #e1e4e6 1px solid; */
}

.header {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header > div > p {
  color: #9fa2a4;
}

.topNavBarWrapper {
  display: flex;
  background-color: #fafafa;
  justify-content: space-between;
}

.todayInfo {
  margin: 0 16px;
}

.TypeButtonWrapper {
  margin: 0 16px;
}

.topNavBarWrapper button {
  background-color: #d9d9d9;
  width: 34px;
  height: 34px;
  margin: 7px 16px 7px 0;
  border-radius: 50%;
  cursor: pointer;
}

.TypeButtonInfo div {
  display: flex;
  gap: 5px;
  justify-content: center;
  padding: 5px;
}

.yaho {
  fill: red;
}

.scheduleViewTypeTab button {
  width: 50%;
}

.section {
  flex-grow: 2;
  background-color: antiquewhite;
}
