@import '@/globals.scss';

.input_wrapper {
  position: relative;
  
  width: 100%;

  display: flex;
  gap: 12px;

  .preview_wrapper {
    display: flex;
    gap: 12px;

    background-color: white;
    border-radius: 10px;
    border: 1px solid var(--gray-200);


    .preview_item {
      background-color: $--gray-50;

      width: 83px;
      height: 125px;

      border-radius: 10px;

      position: relative;
      
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      cursor: pointer;
      .profileImg {
        width: 46px;
        height: 46px;

        border-radius: 50%;
        margin-bottom: 10px;

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      .name {
        @include Title5-SB;
        margin-bottom: 5px;
      }

      .class {
        background-color: $--Chips;
        padding: 2px 10px;
        border-radius: 11px;
        color: $--Primary-blue;

        @include Body5-R
      }

      .delete_button {
        width: 20px;
        height: 20px;

        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
       
        top: -9px;
        right: -9px;

        background-image: none;
        background-color: $--Cancel;
        border-radius: 50%;
      }
    }
  }

  .select_user {
    position: relative;

    width: 83px;
    height: 125px;

    background-color: $--gray-50;

    border-radius: 10px;
    
  }

  .icon_wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }

  .add_txt {
    top: 70%;
    color: var(--gray-700);
    @include Body5-R;

    margin-top: 6px;
  }
}
