/* SocialLogin.module.css */

.container {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 640px; /* 높이를 640px로 고정 */
  margin: 0 auto;
  /* FIX: layout 이나 body 에 넣어도 괜찮을듯? */
  padding: 24px 16px 19px 16px;
  border: #e1e4e6 1px solid;
}

.header {
  flex-grow: 1;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: flex-end;
  /* background-color: #1ec800; */
}

.section {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  /* background-color: aqua; */
}

.buttonWrapper {
  display: flex;
  width: 328px; /* 너비를 328px로 설정*/
  height: 52px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.googleButton {
  background-color: #ffffff; /* 구글 버튼은 하얀색 */
  color: #000000; /* 텍스트 색상 */
  border: #e1e4e6 1px solid;
  width: 100%;
  border-radius: 8px;
}

.naverButton {
  background-color: #37c42a; /* 네이버 버튼은 녹색 */
  color: #ffffff; /* 텍스트 색상 */
  border: #e1e4e6 1px solid;
  width: 100%;
  border-radius: 8px;
}

.kakaoButton {
  background-color: #ffe812; /* 카카오 버튼은 노란색 */
  color: #000000; /* 텍스트 색상 */
  border: #e1e4e6 1px solid;
  width: 100%;
  border-radius: 8px;
}

.footer {
  flex-grow: 1;
  /* background-color: #1ec800; */
}
