@import '@/globals.scss';

.link {
  position: fixed;
  bottom: 92px;
  right: 16px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: $--Primary-blue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fullscreenOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85); // 반투명하게 수정
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fullscreenScanner {
  width: 90vw;
  max-width: 320px;
  aspect-ratio: 1;
  border: 2px dashed rgba(255, 255, 255, 0.3); // 흰색 점선
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1);
}

.closeButton {
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 1001;

  display: flex;
  align-items: center;
  gap: 4px;

  padding: 6px 10px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 6px;

  cursor: pointer;
  transition: background 0.2s ease;
  backdrop-filter: blur(4px);

  svg {
    stroke: white;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}

.closeText {
  color: white;
  font-size: 14px;
}

.scannerText {
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  text-align: center;
}
