@import '@/app/globals.scss';

.qr_header {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  padding: 22px 16px;

  h3 {
    @include Title2-SB;

    color: var(--Black);
  }
}

.qr_section {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--gray-50);
  border: 1px solid var(--gray-100);
  padding: 26px 16px;

  .class_name {
    @include Title1-B;

    margin-bottom: 2px;
  }

  .class_description {
    @include Title5-M;

    margin-bottom: 24px;
    color: var(--gray-600);
  }

  .instructor {
    @include Title4-M;

    display: flex;
    align-items: center;
    gap: 7px;

    padding: 14px 8px;
    margin: 0 auto 12px;
    width: 169px;
    height: 40px;
    background-color: var(--White);
    border: 1px solid var(--gray-200);
    border-radius: 10px;
  }

  .qr_image {
    width: 114px;
    height: 114px;

    display: block;
    margin: 0 auto 8px;
  }

  .qr_save_share {
    @include Body4-R;
    display: flex;
    justify-content: center;
    margin-bottom: 51px;
    gap: 16px;
    color: var(--gray-700);

    .qr_save,
    .qr_share {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 6px;

      .circle {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 32px;
        height: 32px;
        border: 1px solid var(--gray-200);
        border-radius: 100%;
        background-color: var(--White);
      }
    }
  }
}

.qr_footer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
  padding: 74px 18px 27px 18px;
  width: 100%;

  .button_wrapper {
    width: inherit;
    height: 52px;
    border-radius: 13px;
    border: none;
    cursor: pointer;
  }

  .select_button {
    @include Title3-SB;

    width: 100%;
    height: 100%;
    border-radius: 8px;
  }

  .active {
    background-color: var(--Primary-blue);
    color: var(--White);
  }
}
