@import '@/globals.scss';

.container {
  position: fixed;

  bottom: 0;
  left: 0;

  width: 100%;
  height: 62px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  background-color: #050606;

  transition: opacity 600ms cubic-bezier(0.13, 0.67, 0.01, 0.94);

  & > p {
    @include Body2-R;

    color: $--White;
  }
}

.container.unshow {
  opacity: 0;
}