@import '@/globals.scss';

.detail_container {
  width: 90%;
  margin: 0 auto;

  .feedback_date {
    @include Title5-M;
    color: $--gray-600;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 22px;

    .icon {
      font-size: 18px;
      margin-right: 4px;
    }
  }

  .detail_title {
    margin-bottom: 12px;

    p {
      @include Title3-M;
    }
  }

  .detail_content {
    padding: 16px;
    border-radius: 8px;
    background-color: $--gray-50;
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 22px;
    position: relative;
    word-break: break-word;

    .detail_icon {
      margin-right: 12px;
    }

    p {
      @include Title5-M;
      line-height: 1.5;
    }

    .arrow_icon {
      position: absolute;
      right: 16px;
    }
  }

  .detail_photo {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 22px;

    .preview_item {
      width: 84px;
      height: 84px;
      background-color: $--gray-100;
      background-size: cover;
      background-position: center;
      border-radius: 8px;
      cursor: pointer;
    }
  }

  .feedback_divider {
    width: 100%;
    height: 1px;
    background-color: $--gray-200;
    margin: 22px 0;
  }

  /* ---------------- 고객 상단 정보 ---------------- */
  .detail_customer_feedback {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 22px;
    background-color: $--gray-50;
    border-radius: 6px;

    .detail_customer_feedback_title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 16px;

      .class_title {
        @include Title2-SB;
      }

      .feedback_type {
        @include Body4-R;
        background-color: #e9f3ff;
        color: $--Primary-blue;
        padding: 4px 10px;
        border-radius: 8px;
        height: 26px;
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
      }
    }

    .instructor_info {
      margin-top: 12px;
      margin-left: 16px;
      padding: 6px 14px;
      background-color: $--gray-50;
      border: 1px solid $--gray-200;
      border-radius: 9999px;
      display: flex;
      align-items: center;
      gap: 8px;
      width: fit-content;

      .instructor_image {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        overflow: hidden;
      }

      .instructor_name {
        @include Title4-M;
      }
    }
  }

  /* ---------------- 고객 상세 정보 ---------------- */
  .detail_customer_feedback_info {
    width: 100%;
    padding: 0 16px;

    .feedback_customer_date {
      margin-bottom: 22px;

      p {
        @include Title3-M;
        margin-bottom: 6px;
      }

      .feedback_customer_date_info {
        display: flex;
        align-items: center;
        height: 51px;
        background-color: $--gray-50;
        border-radius: 6px;
        padding: 0 16px;

        .date_info_icon {
          margin-right: 14px;
        }

        p {
          @include Title5-M;
          margin-left: 4px;
          word-break: keep-all;
        }
      }
    }

    .detail_title {
      margin-bottom: 12px;

      p {
        @include Title3-M;
      }
    }

    .detail_content {
      padding: 16px;
      border-radius: 8px;
      background-color: $--gray-50;
      display: flex;
      align-items: center;
      gap: 12px;
      margin-bottom: 22px;
      word-break: break-word;

      .detail_icon {
        margin-right: 12px;
      }

      p {
        @include Title5-M;
        line-height: 1.5;
      }
    }

    .detail_photo {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      margin-bottom: 22px;

      .preview_item {
        width: 84px;
        height: 84px;
        background-color: $--gray-100;
        background-size: cover;
        background-position: center;
        border-radius: 8px;
        cursor: pointer;
      }
    }
  }
}
