@import '@/globals.scss';

.detail_container {
  width: 90%;
  margin: 0 auto;

  .feedback_date {
    @include Title5-M;
    color: $--gray-600;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .icon {
      font-size: 18px;
      margin-right: 4px;
    }
  }

  .detail_title {
    margin-bottom: 12px;

    p {
      @include Title3-M;
    }
  }

  .detail_content {
    height: 21px;
    margin-bottom: 22px;
    margin-top: 15.5px;
    padding: 15px 16px 15px 0px;
    border: 15px solid $--gray-50;
    border-radius: 6px;
    background-color: $--gray-50;
    display: flex;
    align-items: center;
    position: relative;

    .detail_icon {
      margin-right: 12px;
    }

    p {
      @include Title5-M;
    }

    .arrow_icon {
      position: absolute;
      right: 0;
    }
  }

  .detail_photo {
    display: flex;
    gap: 8px;
    margin-bottom: 22px;

    .photo {
      width: 76px;
      height: 76px;
      background-color: $--gray-100;
    }
  }
  .feedback_divider {
    width: 328px;
    height: 1px;
    background-color: $--gray-200;
  }

  .detail_customer_feedback {
    height: 95px;
    width: 100vw;
    display: flex;
    align-items: center;
    gap: 106px;

    .detail_customer_feedback_title {
      flex-direction: row;
      .class_title {
        @include Title2-SB;
      }

      .feedback_type {
        @include Body4-R;
        background-color: #e9f3ff;
        color: $--Primary-blue;
      }
    }

    .instructor_info {
      width: 156px;
      height: 40px;
      padding: 8px 14px;
      box-sizing: border-box;
      background-color: $--gray-50;
      border-radius: 10px;
      border: 1px solid $--gray-200;

      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 7px;

      .instructor_image {
        width: 24px;
        height: 24px;

        border-radius: 50%;

        overflow: hidden;
      }

      .instructor_name {
        @include Title4-M;
      }
    }
  }

  .detail_customer_feedback_info {
    width: 100vw;
    margin-top: 22px;
    @include Title5-M;

    .feedback_customer_date {
      margin-bottom: 22px;
      p {
        @include Title3-M;
        margin-bottom: 6px;
      }

      .feedback_customer_date_info {
        height: 51px;
        width: 328px;
        box-sizing: border-box;
        background-color: $--gray-50;
        border-radius: 6px;

        display: flex;
        align-items: center;

        .date_info_icon {
          margin-top: 3px;
          margin-left: 16px;
          margin-right: 14px;
        }
      }
    }
  }
}
