@import '@/globals.scss';

.detail_container {
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;

  .feedback_date {
    @include Title5-M;
    color: $--gray-600;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 22px;

    .icon {
      font-size: 18px;
      margin-right: 4px;
    }
  }

  .detail_title {
    margin-bottom: 6px;

    p {
      @include Title3-M;
    }
  }

  .detail_content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    padding: 16px;
    border-radius: 8px;
    background-color: $--gray-50;
    margin-bottom: 22px;
    word-break: keep-all;

    .customer_image {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 8px;
    }

    .customer_name {
      @include Title5-M;
    }

    .feedback_class_title {
      @include Body4-R;
      background-color: #e9f3ff;
      color: $--Primary-blue;
      padding: 1px 6px;
      border-radius: 11px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
      font-size: 12px;
      position: absolute;
      right: 16px;
      margin-right: 16px;
    }

    .detail_icon {
      margin-right: 8px;
    }

    p {
      @include Title5-M;
      line-height: 1.5;
    }

    .arrow_icon {
      position: absolute;
      right: 16px;
      margin-right: 16px;
    }
  }

  .detail_photo {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 22px;

    .preview_item {
      width: 84px;
      height: 84px;
      background-color: $--gray-100;
      background-size: cover;
      background-position: center;
      border-radius: 8px;
      cursor: pointer;
    }
  }

  .feedback_divider {
    width: 100%;
    height: 1px;
    background-color: $--gray-200;
  }

  /* ---------------- 고객 상단 정보 ---------------- */
  .detail_customer_feedback {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    gap: 12px;
    padding: 25px 0px 30px 0px;
    border-radius: 6px;

    .detail_customer_feedback_title {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 4px;
      flex-wrap: nowrap;

      .class_title {
        @include Title2-SB;
      }

      .feedback_type {
        @include Body4-R;
        background-color: #e9f3ff;
        color: $--Primary-blue;
        padding: 1px 6px;
        border-radius: 4px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        font-size: 12px;
      }
    }

    .instructor_info {
      width: 156px;
      height: 40px;
      padding: 0 12px;
      background-color: $--gray-50;
      border: 1px solid $--gray-200;
      border-radius: 10px;
      display: flex;
      align-items: center;
      gap: 8px;

      .instructor_image {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        overflow: hidden;
      }

      .instructor_name {
        @include Title4-M;
        white-space: nowrap;
      }
    }
  }

  /* ---------------- 고객 상세 정보 ---------------- */
  .detail_customer_feedback_info {
    width: 100%;

    .feedback_customer_date {
      margin-bottom: 22px;
      margin-top: 22px;

      p {
        @include Title3-M;
        margin-bottom: 6px;
      }

      .feedback_customer_date_info {
        @include Title5-M;

        display: flex;
        align-items: center;
        gap: 14px;
        background-color: $--gray-50;
        border-radius: 6px;
        padding: 0 16px;
        min-height: 51px;

        .date_info_icon {
          margin-right: 4px;
        }

        p {
          @include Title5-M;
          word-break: keep-all;
        }
      }
    }

    .detail_title {
      margin-bottom: 6px;

      p {
        @include Title3-M;
      }
    }

    .detail_content {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 8px;
      padding: 16px;
      border-radius: 8px;
      background-color: $--gray-50;
      margin-bottom: 22px;
      word-break: keep-all;

      .detail_icon {
        margin-right: 12px;
      }

      p {
        @include Title5-M;
        line-height: 1.5;
      }
    }

    .detail_photo {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 8px;
      margin-bottom: 22px;

      .preview_item {
        width: 84px;
        height: 84px;
        background-color: $--gray-100;
        background-size: cover;
        background-position: center;
        border-radius: 8px;
        cursor: pointer;
      }
    }
  }
}
