@import '@/globals.scss';

.container {
  position: relative;

  overflow: hidden;

  z-index: 100;

  .upper_border {
    position: absolute;

    width: 100%;
    height: 2px;

    background-color: $--Primary-blue;

    opacity: 0.5;
  }

  .lower_border {
    position: absolute;

    width: 100%;
    height: 2px;

    background-color: $--Primary-blue;

    opacity: 0.5;
  }

  .picker_fast {
    transition: transform 100ms cubic-bezier(0.13, 0.67, 0.01, 0.94);
  }

  .picker_slow {
    transition: transform 600ms cubic-bezier(0.13, 0.67, 0.01, 0.94);
  }

  .item_list {
    width: 100%;

    display: flex;
    flex-direction: column;

    color: $--gray-900;

    transition: all 100ms ease-in-out;
  }

  .item {
    width: fit-content;

    padding: 0 20px;
    margin: 0 auto;

    font-size: 20px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 7px;

    transition: all 100ms linear;

    cursor: pointer;
    user-select: none;
  }
    
  .upper_blur {
    position: absolute;

    top: 0;

    width: 100%;

    background-color: white;

    opacity: 0.7;

    z-index: 101;

    cursor: pointer;
    user-select: none;
  }
    
  .lower_blur {
    position: absolute;

    bottom: 0;

    width: 100%;

    background-color: white;

    opacity: 0.7;

    z-index: 101;

    cursor: pointer;
    user-select: none;
  }
}