@import '@/app/globals.scss';

.feedBox {
  width: fit-content;
  height: fit-content;
  border-radius: 13px;
  border: 1px solid var(--gray-200);
  margin: 22px 16px 12px 16px;
  padding: 12px 18px;

  .textFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 18px;

    .day {
      @include Title5-M;

      span {
        margin-right: 10px;
        vertical-align: middle;
      }
    }

    .textLine {
      width: 1px;
      height: 25px;
      background-color: var(--gray-300);
    }

    .type {
      @include Title5-M;

      span {
        margin-right: 10px;
        vertical-align: middle;
      }
    }
  }

  .feedContent {
    display: grid;
    gap: 10px;
    grid-template-columns: 70% 1fr;

    .photo {
      @include Title5-M;
      color: var(--gray-500);
      text-align: center;
    }
  }

  .feedLink {
    background-color: var(--gray-50);
    color: var(--gray-600);
    text-decoration: underline;
    font-size: 12px;
    text-align: center;
    margin: 15px 0 22px 0;

    span {
      margin-right: 3px;
      vertical-align: middle;
    }
  }
}

.buttonBox {
  margin: 16px;

  .feedButton {
    @include Title3-SB;
    width: 100%;
    margin: 0 auto;
    border-radius: 13px;
    background-color: var(--Primary-blue);
    color: white;
    padding: 14px 0;
  }
}
