@import '@/app/globals.scss';

.title {
  @include Title3-M;

  span {
    width: 18px;
    text-align: center;
    margin-right: 6px;
  }
}

.feed_box {
  width: fit-content;
  height: fit-content;
  border-radius: 13px;
  border: 1px solid $--gray-200;
  padding: 12px 18px;

  .text_flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 18px;

    .day {
      @include Title5-M;

      span {
        margin-right: 10px;
        vertical-align: middle;
      }
    }

    .text_line {
      width: 1px;
      height: inherit;
      background-color: $--gray-300;
    }

    .type {
      @include Title5-M;

      span {
        margin-right: 10px;
        vertical-align: middle;
      }
    }
  }

  .feed_content {
    display: grid;
    gap: 10px;
    grid-template-columns: 70% 1fr;

    .photo {
      @include Title5-M;
      color: $--gray-500;
      text-align: center;
    }
  }

  .feed_link {
    background-color: $--gray-50;
    color: $--gray-600;
    text-decoration: underline;
    font-size: 12px;
    text-align: center;
    margin: 15px 0 22px 0;

    span {
      margin-right: 3px;
      vertical-align: middle;
    }
  }
}

.button_box {
  margin: 35px;

  .feed_button {
    @include Title3-SB;
    width: 100%;
    margin: 0 auto;
    border-radius: 13px;
    background-color: $--Primary-blue;
    color: white;
    padding: 14px 0;
  }
}
