@import '@/globals.scss';

.modal {
  width: 100%;

  display: flex;
  flex-direction: column;

  .day_list {
    padding: 70px 20px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;

    .day_button {
      @include Title3-M;

      flex-shrink: 0;

      width: 36px;
      height: 36px;

      border-radius: 50%;

      transition: all 0.2s;
    }

    .day_button.selected {
      background-color: $--Primary-blue;
      color: white;
    }
  }
}