@import '../../globals.scss';

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 16px;
  height: 48px;
  border-bottom: var(--gray-100) 1px solid;

  .leftLink {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 8px;
  }

  .leftContent {
    @include Title3-M;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .linkToFix {
    @include Body1-R;

    line-height: 1em;
    color: var(--Primary-blue);
    border-bottom: var(--Primary-blue) 1px solid;
  }

  .linkToProfile {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    background-color: var(--gray-100);
  }
}
