.layout {
  min-height: 100vh;
  padding-bottom: calc(78px + env(safe-area-inset-bottom));

  display: flex;
  flex-direction: column;

  .nav {
    position: fixed;
    bottom: 0;

    width: 100%;
  }
}
