@import '@/app/globals.scss';

.profile_container {
  width: 90%;
  height: 100%;
  margin: 0 auto;

  .photo {
    width: 82px;
    height: 82px;
    margin: 0 auto;
    border: 1px solid $--gray-100;
    border-radius: 50%;
    background-color: $--gray-50;
    margin-bottom: 18px;
  }

  p {
    @include Title5-M;
    color: $--gray-600;
  }

  .name {
    background-color: $--gray-50;
    border: 1px solid $--gray-100;
    border-radius: 10px;
    padding: 14px 0;

    p {
      @include Body2-R;
      color: $--Black;
      text-align: center;
    }
  }

  .button {
    position: absolute;
    bottom: 26px;
    width: inherit;

    .log_out {
      @include Title3-SB;
      width: 100%;
      background-color: $--Cancel;
      border-radius: 8px;
      padding: 14px 0;
      color: $--White;
      margin-bottom: 12px;
    }

    .sign_out {
      @include Title3-SB;
      display: block;
      width: 100%;
      text-align: center;
      background-color: $--White;
      border-radius: 8px;
      padding: 14px 0;
      color: $--Cancel;
      border: 1px solid $--Cancel;
    }
  }
}
