@import '@/globals.scss';

.search {
  position: relative;
  width: 100%;
  padding: 14px 16px;

  .search_icon {
    position: absolute;
    top: 50%;
    left: 29px;
    transform: translate(0, -50%);
  }

  input {
    @include Title3-M;
    width: 100%;
    height: 48px;
    padding: 0 42px;
    display: flex;
    align-items: center;
    border: none;
    background-color: $--gray-50;
    border-radius: 6px;
    caret-color: $--Primary-blue;

    &:focus {
      outline: 1.5px solid $--Primary-blue;
      border-radius: 6px;
    }
  }
}

.title {
  @include Title3-M;
  margin: 22px 16px 12px 16px;
}

.tab_list {
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-between;
  // flex: 1;
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
  gap: 12px;
  margin: 0 16px;

  .tab_content {
    // width: 158px;
    height: fit-content;
    min-height: 0;
    background-color: $--gray-50;
    border-radius: 13px;
    padding: 6px;
    margin-bottom: 12px;

    .text_content {
      margin: 16px 12px 20px 12px;

      .name {
        @include Title3-SB;
        display: flex;
        justify-content: space-between;
        margin-bottom: 4px;
      }

      .target {
        @include Body2-R;
      }

      .icon {
        margin-right: 6px;
        vertical-align: middle;
        color: $--gray-700;
      }

      .info {
        @include Body3-R;
        margin: 18px 0;
        color: $--gray-900;

        p {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .profile_box {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .photo_list {
          img:nth-child(n + 2) {
            margin-left: -8px;
          }
          float: left;
        }

        .count {
          @include Title5-SB;
          float: right;
        }
      }
    }
  }
}

.bar {
  width: 100vw;
  height: 8px;
  background-color: $--gray-50;
}
