@import '@/globals.scss';

.container {
  padding: 0 16px;
  max-height: calc(100dvh - 120px);
  overflow-y: auto;
  padding-bottom: 140px;

  .title {
    @include Title2-SB;
    padding: 13px 0;
  }

  .search_class {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 10px;

    .item {
      width: calc(50% - 5px);
      height: 151px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      box-shadow: 0 0 0 1px $--gray-300;
      background-color: $--gray-50;
      border-radius: 12px;
      padding: 20px 12px;
      margin-bottom: 10px;

      position: relative;

      .check {
        display: none;
      }

      .check + label {
        position: absolute;
        right: 7px;
        top: 13px;

        // ✅ Check 아이콘 색상 기본 (비활성)
        .check_icon {
          color: $--gray-300;
        }
      }

      .name {
        @include Title3-SB;
        margin-bottom: 12px;
        width: 50%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      p {
        @include Body2-R;
        text-align: left;

        span {
          margin-right: 5px;
        }
      }
    }

    .item.active {
      box-shadow: 0 0 0 2px $--Primary-blue !important;
      background-color: $--White !important;

      .check + label {
        .check_icon {
          color: $--Primary-blue;
        }
      }
    }
  }
}

.btn {
  position: fixed;
  width: 90%;
  bottom: 24px;

  button {
    @include Title3-SB;
    width: 100%;
    padding: 14px 0;
    background-color: $--Primary-blue;
    color: white;
    border-radius: 13px;

    &.disabled {
      background-color: $--gray-300;
    }

    &.select_all_btn {
      color: $--Primary-blue;
      background-color: $--White;
    }

    &.complete_btn {
      margin-bottom: 6px;
    }
  }
}
