@import '../globals.scss';

.container {
  display: flex;
  flex-direction: column;
  min-width: 360px;
  min-height: 640px; /* 높이를 640px로 고정 */
  height: 100vh;
  align-items: center;
  padding: 19px 16px 19px 16px;

  // .header {
  //   flex-grow: 1;
  //   display: flex;
  //   gap: 10px;
  //   flex-direction: column;
  //   justify-content: flex-start;
  //   margin-top: 51px;
  //   width: 100%;

  //   .header-logo {
  //     @include Title2-M;

  //     color: var(--Primary-blue);
  //   }

  //   .logo {
  //     margin-bottom: 15px;
  //   }
  // }

  // .header-info > p {
  //   @include Body2-R;

  //   color: var(--gray-500);
  // }
}
