@import '../globals.scss';

.container {
  // display: flex;
  // flex-direction: column;
  min-width: 360px;
  min-height: 640px; /* 높이를 640px로 고정 */
  height: 100vh;
  margin: 0 auto;
  // padding: 19px 16px 19px 16px;
  // border: #e1e4e6 1px solid;
}

.header {
  flex-grow: 1;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 51px;
}

.headerLogo {
  color: #3689ff;
}

.logo {
  margin-bottom: 15px;
}

.header > div > p {
  color: #9fa2a4;
}
