@import '../../../../../../globals.scss';

.feedbackList-box {
  background-color: var(--gray-50);

  .feedbackList-text {
    padding: 20px 16px;

    h2 {
      @include Title4-SB;
      color: var(--gray-600);
    }

    h3 {
      @include Body3-R;
      color: var(--gray-600);
    }
  }

  .feedbackList-Card {
    background-color: var(--White);
    border: 1px solid var(--gray-100);
    border-radius: 14px;
    margin: 0 16px;
    padding: 14px 10px;

    div {
      display: flex;
      margin-bottom: 10px;

      p {
        @include Title5-M;
        margin-right: 22px;

        span {
          margin-right: 7px;
          vertical-align: middle;
        }
      }
    }

    .content {
      @include Body2-R;
      margin-bottom: 12px;
    }

    .target {
      @include Body3-R;

      .icon {
        margin-right: 8px;
        vertical-align: middle;
      }
    }
  }
}
