@import '@/app/globals.scss';

.feedbackList_box {
  background-color: $--gray-50;

  .feedbackList_text {
    .prev {
      @include Title3-SB;
      color: $--gray-600;
    }

    p {
      @include Body3-R;
      color: $--gray-600;
    }
  }

  .feedbackList_Card {
    background-color: $--White;
    border: 1px solid $--gray-100;
    border-radius: 14px;
    padding: 14px 10px;

    div {
      display: flex;
      margin-bottom: 10px;

      p {
        @include Title5-M;
        margin-right: 22px;

        span {
          margin-right: 7px;
          vertical-align: middle;
        }
      }
    }

    .content {
      @include Body2-R;
      margin-bottom: 12px;
    }

    .target {
      @include Body3-R;

      .icon {
        margin-right: 8px;
        vertical-align: middle;
      }
    }
  }
}
