.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #ffffff;

  img {
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
    color: #333;
  }
}
