@import '@/globals.scss';

.start_section {
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */

  .type_button_img {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .type_button_img div {
    width: 100px;
    height: 100px;
    background-color: #ebecee;
  }
}