@import '@/globals.scss';

.loader_wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $--White;
}

.spinner {
  width: 36px;
  height: 36px;
  border: 4px solid $--gray-300;
  border-top: 4px solid $--Primary-blue;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
