@import '@/app/globals.scss';

/**** Edit Header ****/

.edit_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 16px;
  height: 48px;
  border-bottom: var(--gray-100) 1px solid;

  .left_content {
    @include Title3-M;

    display: flex;
    align-items: center;
    justify-content: center;

    .left_link {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-right: 8px;
    }
  }

  .link_to_edit {
    @include Body1-R;

    line-height: 1em;
    color: var(--Primary-blue);
    border-bottom: var(--Primary-blue) 1px solid;
  }
}

/**** Profile Header ****/

.profile_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 16px;
  height: 48px;
  border-bottom: var(--gray-100) 1px solid;

  .left_content {
    @include Title3-M;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .link_to_profile {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    background-color: var(--gray-100);
  }
}
