@import '@/globals.scss';

.input_wrapper {
  position: relative;

  width: 100%;

  display: flex;
  gap: 12px;

  .input_inner_wrapper {
    padding: 16px 0;
  }

  .preview_wrapper {
    display: flex;
    gap: 12px;
    width: 100%;

    background-color: white;
    border-radius: 10px;
    border: 1px solid var(--gray-200);

    padding: 16px 0;

    overflow-x: auto;
    white-space: nowrap; /* Prevent line breaks */

    .preview_item {
      z-index: 100;
      // background-color: $--gray-50;

      // min-width: 83px;
      min-width: 193px;
      height: 125px;

      padding: 18px 16px;

      border-radius: 10px;
      border: 1px solid $--gray-200;

      position: relative;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 9px;

      cursor: pointer;

      .tag {
        background-color: $--Chips;
        padding: 2px 10px;
        border-radius: 11px;
        color: $--Primary-blue;

        @include Body5-R;
      }

      .title {
        @include Title3-SB;
      }

      .delete_button {
        width: 20px;
        height: 20px;

        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;

        top: -9px;
        right: -9px;

        background-image: none;
        background-color: $--Cancel;
        border-radius: 50%;

        z-index: 100;
      }
    }
  }

  .select_user {
    display: block;
    position: relative;

    min-width: 83px;
    height: 125px;

    background-color: $--gray-50;

    border-radius: 10px;
  }

  .icon_wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }

  .add_txt {
    top: 70%;
    color: var(--gray-700);
    @include Body5-R;

    margin-top: 6px;
  }
}
